<button nz-button [routerLink]="['new-user']" nzType="primary">Add User</button>
<br />
<br />
<div *ngIf="listUsers">
    <nz-spin [nzSpinning]="isSpinning">
        <nz-table [nzData]="listUsers.data" [nzPageIndex]="pageIndex" [nzTotal]="total" [nzPageSize]="pageSize"
            [nzScroll]="{ y: '460px' }" (nzPageSizeChange)="onPageSizeChange($event)"
            (nzPageIndexChange)="onPageIndexChange($event)" [nzShowSizeChanger]="true" [nzShowPagination]="true"
            [nzFrontPagination]="false" [nzPageSizeOptions]="pageSizes">
            <thead>
                <tr>
                    <th>Avatar</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of listUsers.data">
                    <td>
                        <nz-avatar [nzSize]="80" nzIcon="user" nzSrc="{{data.avatar}}"></nz-avatar>
                    </td>
                    <td>{{data.first_name}} {{data.last_name}}</td>
                    <td>{{ data.email }}</td>
                    <td>
                        <a [routerLink]="['user', data.id]">Edit</a>
                        <nz-divider nzType="vertical"></nz-divider>
                        <a (click)="deleteUserId(data.id!)">Delete</a>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </nz-spin>
</div>
<router-outlet></router-outlet>