.margingContent {
    margin-top: 15%;
}

::ng-deep .ant-btn-primary {
    width: 100%;
}

.margingContent {
    margin-top: 15%;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

.inner-content {
    padding: 24px;
    background: #fff;
    min-height: 360px;
    height: 100%;
  }